<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:lightpink ;
        }
    </style>
</head>
<body>
    <center>
        <h1>Pizza</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGWky2hHhXnjXCL04j2RiZubMJRsiqUiCOjg&s"/>
        <h1>Select from here</h1>
        <h2><a href="{% url 'food:biriyani' %}">Go to Biriyani page</a></h2>
        <h2>  <a href="{% url 'Milkshakes:oreoshake' %}"> Go to oreoshake</a></h2>
        <h2> <a href="{% url 'Milkshakes:kitkatshake' %}">Go to kitkatshake</a></h2>
    
    </center>
    
</body>
</html>
